<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="PageTitle" value="Centennial Daily Bulletin" />
  </appSettings>
  
  <connectionStrings>
    <add name="mainDb" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFileName=|DataDirectory|\Announcements.mdf;Integrated Security=true;Initial Catalog=Announcements;MultipleActiveResultSets=True;" />
  </connectionStrings>

  <system.web>
    <httpRuntime requestValidationMode="2.0" />

    <authentication mode="Windows"  />
    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider"/>

    <authorization>
      <deny users="?"/>
    </authorization>
      
    <compilation debug="true" targetFramework="4.0" batch="false" />

    <pages>
      <controls>
        <add tagPrefix="ann" assembly="Announcements.Lib" namespace="Announcements.Control" />
        <add tagPrefix="cke" assembly="CKEditor.NET" namespace="CKEditor.NET" />
        <add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>

</configuration>
