.infobox-base
{
    border: 1px solid #eee;
    margin: 0px 10px 5px 10px;
}

    .infobox-base a, .cke_editable a
    {
        color: #006c09;
    }

        .infobox-base a:hover, .cke_editable a:hover
        {
            color: #00b20f;
        }

    .infobox-base h1, .cke_editable h1
    {
        margin-right: 20px;
        display: block;
        border-bottom: 1px solid #88b68c;
        font-family: 'Century Schoolbook';
        font-size: 1.3em;
        font-weight: bold;
    }

    .infobox-base h2, .cke_editable h2
    {
        margin-right: 20px;
        display: block;
        border-bottom: 1px solid #88b86c;
        font-family: 'Century Schoolbook';
        font-size: 1.15em;
    }

    .infobox-base h3, .cke_editable h3
    {
        margin-right: 20px;
        display: block;
        font-family: 'Century Schoolbook';
        font-size: 1.05em;
    }

    .infobox-base blockquote, .cke_editable blockquote
    {
        margin-right: 20px;
        margin-left: 10px;
        border-left: 1px solid #88b86c;
        padding-left: 10px;
    }

.infobox-small-text
{
    font-size: 12px !important;
}

.infobox-title
{
    border-bottom: 1px solid #eee;
    font-family: 'Century Schoolbook';
    font-size: 1.3em;
    padding: 2px 0px 2px 18px;
    background: #f4f4f4;
}

.infobox-title-date
{
    float: right;
    margin-right: 10px;
    margin-top: 3px;
    font-size: 0.6em;
    font-family: Calibri;
    color: #306535;
}

.infobox-body
{
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    background: #f8f8f8;
    font-family: Calibri;
    font-size: 14px;
}

.cke_editable
{
    font-family: Calibri;
    font-size: 14px;
}

    .infobox-body p, .cke_editable p
    {
        margin-top: 5px;
        margin-bottom: 0px;
    }
